<!-- Code by: myth-dev or thehackerworld
Instagram: thehackerworld_
Telegram: @myth_dev
Github: https://github.com/mython-dev -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myth Dev</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
  <br></br>
  <pre align="center", class="banner">
    ███╗   ███╗██╗   ██╗████████╗██╗  ██╗      ██████╗ ███████╗██╗   ██╗
    ████╗ ████║╚██╗ ██╔╝╚══██╔══╝██║  ██║      ██╔══██╗██╔════╝██║   ██║
    ██╔████╔██║ ╚████╔╝    ██║   ███████║█████╗██║  ██║█████╗  ██║   ██║
    ██║╚██╔╝██║  ╚██╔╝     ██║   ██╔══██║╚════╝██║  ██║██╔══╝  ╚██╗ ██╔╝
    ██║ ╚═╝ ██║   ██║      ██║   ██║  ██║      ██████╔╝███████╗ ╚████╔╝ 
    ╚═╝     ╚═╝   ╚═╝      ╚═╝   ╚═╝  ╚═╝      ╚═════╝ ╚══════╝  ╚═══╝  

"You may stop this individual, but you can't stop us all... after all, we're all alike." 
</pre>

<div class="menu">
    <ul align="center">
      <li style="background-color: #999999; font-size: 15px;"><a href="{% url 'home' %}">Root</a></li>
      <li style="font-size: 15px;"><a href="{% url 'blogs:blog' %}">Blog</a></li>
      <li style="font-size: 15px;"><a href="{% url 'projects:projects' %}">Projects</a></li>
      <li style="font-size: 15px;"><a href="{% url 'contact' %}">Connect with me</a></li>
      <li style="font-size: 15px;"><a href="#">Resume</a></li>
    </ul>
</div>

<p align='center'
<img src="https://gpvc.arturio.dev/mython-dev">
</p>
<p align='center'>
<a  href="https://github.com/mython-dev"><img src="https://readme-typing-svg.demolab.com?font=Fira+Code&pause=1000&color=1EC027&background=FFCAEA00&center=true&vCenter=true&width=435&lines=Im+a+junior+backend+developer;Im+a+junior+cybersecurity+specialist;Im+a+system+administrator+Linux" alt="Typing SVG" /></a>
</p>

<h2 align='center' style="color: #287979;;">About Me 🖥:</h2>  

<ul>
  <li style="font-size: 17px;">🔭 I’m currently learning Python, Django, Bash, Linux, Pen-Testing.</li>
  <li style="font-size: 17px;">📁 All of my projects are available at <a href="{%url 'projects:projects' %}">here :)</a></li>
  <li style="font-size: 17px;">🕘 In my free time I write scripts and telegram bots</li>
  <li style="font-size: 17px;">📝 I regularly conduct a <a href="{% url 'blogs:blog' %}">blog</a></li>
  <li style="font-size: 17px;">🚀 What I plan to study in the future C#, Reverse Engineering.</li>
  <li style="font-size: 17px;">😎 languages: English(elementary), Russian, Uzbek. </li>
</ul>

<h2 align='center' class="bg" style="color: #287979;;">🔧 Skills:</h2>   
<p align="center">

<img width="40px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-plain.svg" />
<img width="40px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" />
<img width="40px" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/git/git-original.svg"/>
<img width="40px" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/django/django-plain.svg"/>
<img width="40px" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/github/github-original-wordmark.svg"/>
<img width="40px" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/vscode/vscode-original.svg"/>
<img width="40px" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/html5/html5-original.svg"/>
<img width="40px" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/css3/css3-original.svg"/>
<img width="40px" src="https://blog.skillfactory.ru/wp-content/uploads/2022/03/image2-1505745.png"/>

</p>

</body>
</html>  

